*{
  margin: 0;
  box-sizing: border-box;
  
}

body{
  background-color: rgb(15, 173, 52);
}

h1 h2 {  
  display: flex;
  justify-content: center;
} 
.button{
  display: flex;
  justify-content: center;

}

h1{
  font-size: large;
}

h2{
  padding:30px
}

button{
  padding:15px;
  margin: 15px;
  background-color: antiquewhite;
}



